kind: Service
apiVersion: v1
metadata:
  name: {{ collection_name }}
  namespace: {{ collection_namespace }}
spec:
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP
  selector:
    kubevirt.io/domain: {{ collection_name }}
