kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: {{ lab_name }}
  namespace: {{ lab_namespace }}
spec:
  to:
    kind: Service
    name: {{ lab_name }}
    weight: 100
  port:
    targetPort: 8080
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None