apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ ocpv_operator_name }}
  namespace: {{ ocpv_namespace }}
spec:
  channel: "{{ __ocpv_channel }}"
{% if ocpv_automatic_install_plan_approval | d(True) | bool %}
  installPlanApproval: Automatic
{% else %}
  installPlanApproval: Manual
{% endif %}
  name: {{ ocpv_operator_name }}
  source: {{ ocpv_operator_catalog }}
  sourceNamespace: openshift-marketplace
{% if ocpv_starting_csv | d("") | length > 0 %}
  startingCSV: "{{ ocpv_operator_name }}.{{ ocpv_starting_csv }}"
{% endif %}
