---
- name: Provisioning
  hosts: localhost
  gather_facts: false
  connection: local
  tasks:
    - name: Include vars
      ansible.builtin.include_vars: "{{ playbook_dir }}/../vars/{{ provision_var_file | default('provision.yml') }}"

    - name: Configure AAP
      ansible.builtin.include_role:
        name: redhat_cop.controller_configuration.configure_aap
